@model Pigmalion.Models.Client

@{
    ViewData["Title"] = "Обращение";
}

<h1>Обращение</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Phonenum" class="control-label">Номер телефона: </label>
                <input asp-for="Phonenum" class="form-control" />
                <span asp-validation-for="Phonenum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="DateCreation" type="hidden" value="@DateTime.UtcNow" class="form-control" />
                <span asp-validation-for="DateCreation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Appeal" class="control-label">Причина: </label>
                <input asp-for="Appeal" class="form-control" />
                <span asp-validation-for="Appeal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idcountryclient" class="control-label">Выберите страну: </label>
                <select asp-for="Idcountryclient" class="form-control" asp-items="ViewBag.NameCountry"></select>
            </div>
            <div class="form-group">
                <label asp-for="Idregionclient" class="control-label">Выберите область: </label>
                <select asp-for="Idregionclient" class="form-control" asp-items="ViewBag.NameRegion"></select>
            </div>
            <div class="form-group">
                <label asp-for="Idcityclient" class="control-label">Выберите город: </label>
                <select asp-for="Idcityclient" class="form-control" asp-items="ViewBag.NameCity"></select>
            </div>
            <div class="form-group">
                <label asp-for="Iddirectionclient" class="control-label">Выберите, где вам помогут: </label>
                <select asp-for="Iddirectionclient" class ="form-control" asp-items="ViewBag.NameDirection"></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Отправить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
